.formulario {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

#email {
    height: 2rem;
    width: 360px;
    border-radius: 8px;
    border: 1px solid var(--cinza-claro);
}

#email::placeholder {
    font-family: var(--fonte-principal);
    font-size: 1rem;
    color: var(--cinza-claro);
    font-weight: 400;
    padding-left: 8px;
}

.rodape__texto {
    text-align: center;
    margin-top: 2rem;
    color: #98A2B3;
}

@media (max-width: 520px) {
    .formulario {
        flex-direction: column;
    }
}