@import url(header.css);
@import url(apresentacao.css);
@import url(dados.css);
@import url(vagas.css);
@import url(depoimento.css);
@import url(formulario.css);
@import url(rodape.css);

:root {
    --cor-primaria: #8E2424;
    --cinza-escuro: #3A404E;
    --branco: #FFFFFF;
    --preto: #101828;
    --cinza-claro: #667085;
    --fonte-principal: "Inter", sans-serif;
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    color: var(--cinza-claro);
    font-size: 16px;
    font-weight: 400;
}
